{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
Registration
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <div class="card mx-auto w-50 p-4 mb-4">
            <div class="card-title text-center">
                <h4>Sign Up!</h4>
            </div>
            <div class="card-subtitle mb-4 text-center">
                <h6>Please fill out the fields required!</h6>
            </div>
            <fieldset class="form-group">
            {{ form|crispy }}
            </fieldset>
            <input class="btn btn-primary w-10" type="submit" value="Sign Up">
            <p class="text-muted mt-3">Already have an account? <a href="{% url 'login' %}">Login now!</a></p>
        </div>
    </form>
{% endblock %}